<div class="container text-center" style="max-width: 840px">
    <h2>Join Our <b>Latest</b> Movements</h2>

    <div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 25px; ">

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Penanaman Bibit Mangrove</h5>
              <p class="card-text">Dukung alam kita dengan menanam bibit mangrove di lokasi kamu!</p>
              <a href="#" class="btn btn-primary"><b>Join This Event</b></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Gerakan Anti Plastik</h5>
              <p class="card-text">Ikuti gerakan ini untuk mengurangi limbah plastik. Dimulai dari kamu.</p>
              <a href="#" class="btn btn-primary"><b>Join This Event</b></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6" style="padding-top: 15px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Clean Our Ocean</h5>
                <p class="card-text">Pembersihan sampah di laut untuk tetap menjaga makhluk laut dari kepunahan.</p>
                <a href="#" class="btn btn-primary"><b>Join This Event</b></a>
              </div>
            </div>
          </div>

          <div class="col-sm-6" style="padding-top: 15px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">#StopPolusiUdara</h5>
                <p class="card-text">Apakah udara di kotamu sudah tercemar? Mari perbaiki kualitas udara mulai dari sekarang!</p>
                <a href="#" class="btn btn-primary"><b>Join This Event</b></a>
              </div>
            </div>
          </div>
    </div>
</div>


