<div class="container">

    <div class="card">
        <div class="card-header" style="font-size: 30px;">
            <b>About Us</b>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Kami adalah sebuah gerakan sosial untuk membantu mereka yang membutuhkan. Bukankah <br> 
                akan lebih baik apabila kita saling membasuh? Harapan kami adalah bahwa kita dapat <br> saling bersatu untuk tetap teguh menghadapi
                bencana yang tidak terduga.</p>
            <footer class="blockquote-footer">Johanes Yefta <cite title="Source Title">(CEO of eFoundation)</cite></footer>
          </blockquote>
        </div>
    </div>

    <a routerLink="" class="badge badge-primary">Back</a>
</div>