<div class="jumbotron text-left">
    <div class="intro">
        <img src="https://images.unsplash.com/photo-1609139027234-57570f43f692?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
        <h1>The value of life is not in <br>it's duration, but in it's <br>donation.</h1>
        <button routerLink="movement" type="button" class="btn btn-outline-warning" id="btnPrimary">Get Involved</button>

        <div class="card" style="width: 18rem; height: fit-content;" id="floatingcard">
          <div class="card-body">
            <h4 class="card-title text-center" style="color: green;"><b>DONATION INCOME</b></h4>
            <h6 class="card-subtitle mb-2 text-center">Thank you for your donation</h6>
            <p class="card-text shadow-sm p-3 bg-body rounded">Valentino donated Rp.10.000</p>
            <p class="card-text shadow-sm p-3 bg-body rounded">Nathan donated Rp.120.000</p>
            <p class="card-text shadow-sm p-3 bg-body rounded">Denis Suwardi donated Rp.19.000</p>
            <a routerLink="donation" class="btn btn-success" style="width: 16rem">DONATE</a>
          </div>
        </div>
    </div>
</div>

<h2 class="section2">Live Donation</h2>

<div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yayasan Kasih Anak</h5>
          <p class="card-text">Membantu mendukung anak-anak untuk mengejar pendidikan dan cita-cita mereka.</p>
          <a href="#" class="btn btn-success">Donate</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Orphanage Calvary</h5>
          <p class="card-text">Segala bentuk dukungan sangat membantu mereka yang ditinggalkan oleh orang tua.</p>
          <a href="#" class="btn btn-success">Donate</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bantuan Sosial Gempa Jambi</h5>
            <p class="card-text">Bagi mereka yang kehilangan tempat tinggal namun tetap bertahan hidup.</p>
            <a href="#" class="btn btn-success">Donate</a>
          </div>
        </div>
    </div>
</div>

<!-- Footer start here -->
<div class="card">
    <div class="card-header">
      Copyright 2022. All Right Reserved
    </div>
</div>